.container[b-3bk72o3pqt]{
    padding: 80px 48px 80px 48px;
}

.container h1[b-3bk72o3pqt]{
    font-size: 38px;
    color: rgb(14, 12, 12);
    margin-bottom: 40px;
}

.formacoes[b-3bk72o3pqt] {
    margin-bottom: 60px;
}

.formacoes h2[b-3bk72o3pqt]{
    margin-bottom: 15px;
    color: black;
}

.descricao[b-3bk72o3pqt] 
{
    margin-bottom: 20px;
    font-size: 16px;
}