.container[b-enzff9ttot]{
    padding: 80px 48px 80px 48px;
}

.container h1[b-enzff9ttot]{
    font-size: 38px;
    color: rgb(14, 12, 12);
    margin-bottom: 40px;
}

.experiencias[b-enzff9ttot] {
    margin-bottom: 60px;
}

.experiencias h2[b-enzff9ttot]{
    margin-bottom: 15px;
    color: black;
}

.descricao[b-enzff9ttot] 
{
    margin-bottom: 20px;
    font-size: 16px;
}