@* @inherits LayoutComponentBase

<NavMenu></NavMenu>
<div class="page">
    @Body
</div> *@




@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="align-items: end">
        <MudText>Curriculum: </MudText>
        <MudIconButton Size="Size.Large" Icon="@Icons.Custom.FileFormats.FileDocument" Style="color: white"></MudIconButton>
    </MudAppBar>
    <MudDrawer Open="true" Class="drawer" Width="250px" Elevation="5">


        <MudDrawerHeader>
            <MudImage Src="https://i.imgur.com/nSHtdWs.jpeg" ObjectFit="ObjectFit.Contain" Fluid="true" class="pa-2 mb-16 mt-8 rounded-circle"></MudImage>
        </MudDrawerHeader>



        <MudDrawerContainer Class="mt-12">
            <MudPaper Elevation="0" Class="d-flex flex-column align-items-center" Style="padding: 16px;">
                <ul class="secoes">
                    <li>
                        <a href="#resumo"><strong>SOBRE</strong></a>
                    </li>
                    <li>
                        <a href="#conhecimento"><strong>CONHECIMENTO TÉC.</strong></a>
                    </li>
                    <li>
                        <a href="#exp"><strong>EXPERIÊNCIA</strong></a>
                    </li>
                    <li>
                        <a href="#educ"><strong>EDUCAÇÃO</strong></a>
                    </li>
                    <li>
                        <a href="#cursos_extra"><strong>Cursos Extra</strong></a>
                    </li>
                </ul>
            </MudPaper>
        </MudDrawerContainer>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

