@inherits LayoutComponentBase
@inject NavigationManager navigation;
@inject DrawerState drawerState;

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>

        <MudButton  OnClick="GoToProjeto" EndIcon="@Icons.Custom.Uncategorized.Folder">
            Projetos
        </MudButton>
        <MudSpacer />
        <MudButton Size="Size.Large" EndIcon="@Icons.Custom.FileFormats.FilePdf" Style="color: white; margin-left: auto;">
            Currículo
        </MudButton>

    </MudAppBar>

    <MudDrawer Open="@drawerState.IsOpen" class="drawer" Width="250px" Elevation="5">


        <MudDrawerHeader Style="align-items:center">
            <MudImage Src="https://i.imgur.com/nSHtdWs.jpeg" ObjectFit="ObjectFit.Cover" Fluid="true" class="pa-2 mb-16 mt-8 rounded-circle"></MudImage>
        </MudDrawerHeader>

        <MudDrawerContainer Class="mt-12">
            <MudPaper Elevation="0" Class="d-flex flex-column align-items-center" Style="padding: 16px;">
                <ul class="secoes">
                    <li>
                        <a href="#resumo"><strong>SOBRE</strong></a>
                    </li>
                    <li>
                        <a href="#conhecimento"><strong>CONHECIMENTO TÉC.</strong></a>
                    </li>
                    <li>
                        <a href="#exp"><strong>EXPERIÊNCIA</strong></a>
                    </li>
                    <li>
                        <a href="#educ"><strong>EDUCAÇÃO</strong></a>
                    </li>
                    <li>
                        <a href="#cursos_extra"><strong>Cursos Extra</strong></a>
                    </li>
                </ul>
            </MudPaper>
        </MudDrawerContainer>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


@code
{
    //public bool MenuLatAtivado = true;

    public void GoToProjeto()
    {
        navigation.NavigateTo("Projetos");
        drawerState.IsOpen = false;
    }

}