<nav class="nav-menu">
    <div class="nav-container">
        <a class="link-home" href="/">
            <img class="icone-casa" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Microsoft_.NET_logo.svg" alt="Icone dotnet" />
        </a>
        <a href="/curriculum-gen">
            <img src="https://w7.pngwing.com/pngs/691/487/png-transparent-pdf-computer-icons-pdf-angle-image-file-formats-text.png" alt="Icone PDF" />
        </a>
    </div>
</nav>