.nav-menu {
    background-color: #333;
    color: white;
    margin: 0 0 0 16%;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    margin: 0;
    
}

img{
    width: 60px;
    height: 50px;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
}