/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-25u0cdoe16] {
    display: flex;
}
/* /Pages/Components/CursosExtra.razor.rz.scp.css */
.container[b-c7gy2x9rg1] {
    padding: 80px 48px 80px 48px;
}

.container h1[b-c7gy2x9rg1] {
    font-size: 38px;
    color: rgb(14, 12, 12);
    margin-bottom: 40px;
}

.cursos[b-c7gy2x9rg1] {
    margin-bottom: 60px;
}

.cursos h2[b-c7gy2x9rg1] {
    margin-bottom: 15px;
    color: black;
}

.descricao[b-c7gy2x9rg1] {
    margin-bottom: 20px;
    font-size: 16px;
}
/* /Pages/Components/Educacao.razor.rz.scp.css */
.container[b-3bk72o3pqt]{
    padding: 80px 48px 80px 48px;
}

.container h1[b-3bk72o3pqt]{
    font-size: 38px;
    color: rgb(14, 12, 12);
    margin-bottom: 40px;
}

.formacoes[b-3bk72o3pqt] {
    margin-bottom: 60px;
}

.formacoes h2[b-3bk72o3pqt]{
    margin-bottom: 15px;
    color: black;
}

.descricao[b-3bk72o3pqt] 
{
    margin-bottom: 20px;
    font-size: 16px;
}
/* /Pages/Components/Experience.razor.rz.scp.css */
.container[b-enzff9ttot]{
    padding: 80px 48px 80px 48px;
}

.container h1[b-enzff9ttot]{
    font-size: 38px;
    color: rgb(14, 12, 12);
    margin-bottom: 40px;
}

.experiencias[b-enzff9ttot] {
    margin-bottom: 60px;
}

.experiencias h2[b-enzff9ttot]{
    margin-bottom: 15px;
    color: black;
}

.descricao[b-enzff9ttot] 
{
    margin-bottom: 20px;
    font-size: 16px;
}
/* /Pages/Components/Menu_lateral.razor.rz.scp.css */
.secoes[b-gpvpat6tm3] {
    display: flex;
    width: 100%;
    height: 33%;
    flex-direction: column;
    justify-content: center;
}
.secoes ul[b-gpvpat6tm3] {
    padding: 0;
    align-items: center;
    list-style: none;
}

.secoes ul li[b-gpvpat6tm3] {
    display: block;
    width: 100%;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.secoes ul li a:hover[b-gpvpat6tm3] {
    background-color: red;
}

.secoes ul li a[b-gpvpat6tm3] {
    display: block;
    text-align: center;
}

.foto[b-gpvpat6tm3] {
    height: 33%;
    justify-content: center;
}

.foto img[b-gpvpat6tm3] {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* /Pages/Components/Midias_Sociais.razor.rz.scp.css */


.midias-sociais[b-4z66dh5sbc] {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

    .midias-sociais img[b-4z66dh5sbc] {
        width: 40px;
        height: 40px;
    }

    .midias-sociais ul[b-4z66dh5sbc] {
        list-style: none;
        padding-left: 0%;
        display: flex;
    }

    .midias-sociais li[b-4z66dh5sbc] {
        margin: 0 25px 0 25px;
    }
/* /Pages/Components/Paulo.razor.rz.scp.css */

.principal[b-n9tzlzx5jk] {
    width: 100%;
    padding: 20px 20% 0 20px;
    overflow-y: auto;
    height: 100vh;
    color: grey;
    margin-left: 16%;
    margin-top: 52px;
    text-align: justify;
}

.lateral[b-n9tzlzx5jk] {
    width: 16%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
}

.secoes[b-n9tzlzx5jk] {
    display: flex;
    width: 100%;
    height: 33%;
    flex-direction: column;
    justify-content: center;
}


.resumo[b-n9tzlzx5jk] {
    height: 70vh;
    border-bottom: 1px solid black;
}

.experiencia[b-n9tzlzx5jk] {
    border-bottom: 1px solid black;
}

.curso[b-n9tzlzx5jk] {
    border-bottom: 1px solid black;
}

.educacao[b-n9tzlzx5jk] {
    border-bottom: 1px solid black;
}

.secoes ul[b-n9tzlzx5jk] {
    padding: 0;
    align-items: center;
    list-style: none;
}

.secoes ul li[b-n9tzlzx5jk] {
    display: block;
    width: 100%;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.secoes ul li a:hover[b-n9tzlzx5jk] {
    background-color: red;
}

.secoes ul li a[b-n9tzlzx5jk] {
    display: block;
    text-align: center;
}
/* /Pages/Components/SobreMim.razor.rz.scp.css */
h2[b-pluy0jg0g8] {
    color: black;
}


p[b-pluy0jg0g8] {
    font-size: 18px;
}
/* /Pages/Components/TituloPrincipal.razor.rz.scp.css */
.principal[b-dgroo8ejg8]{
    margin-bottom: 60px;
}

.principal h1[b-dgroo8ejg8] {
    margin-bottom: 0;
    font-size: 56px;
}


.titulo-nome[b-dgroo8ejg8] {
    margin: 8% auto 4% auto;
}

#primeiro-nome[b-dgroo8ejg8] {
    color: goldenrod;
}

.subtitulo[b-dgroo8ejg8] {
    font-size: 24px;
}
/* /Pages/Index.razor.rz.scp.css */
