@page "/curriculum-gen"
@using System.Net.Http.Json
@inject CurriculumPdf _curriculumPdf
@layout LayoutAlternativo
@inject IJSRuntime Js

@* <div class="container">
    <h3>Gerador de currículo</h3>
    <EditForm EditContext="editContext" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h4>Curriculum Inicio</h4>
        <div>
            <label>Nome:</label>
            <InputText @bind-Value="curriculumInicio.Nome" />
            <ValidationMessage For="@(() => curriculumInicio.Nome)" />
        </div>
        <div>
            <label>Função</label>
            <InputText @bind-Value="curriculumInicio.PerfilProgramador" />
            <ValidationMessage For="@(() => curriculumInicio.PerfilProgramador)" />
        </div>
        <div>
            <label>Sobre Mim:</label>
            <InputText @bind-Value="curriculumInicio.SobreMim" />
            <ValidationMessage For="@(() => curriculumInicio.SobreMim)" />
        </div>

        <h4>Contato</h4>
        <div>
            <label>Email:</label>
            <InputText @bind-Value="contato.Email" />
        </div>
        <div>
            <label>Codigo:</label>
            <InputText @bind-Value="contato.Codigo" />
        </div>
        <div>
            <label>DDD:</label>
            <InputText @bind-Value="contato.DDD" />
        </div>
        <div>
            <label>Numero Telefone/Celular:</label>
            <InputText @bind-Value="contato.NumeroTelefone_Celular" />
        </div>

        <h4>Habilidades</h4>
        @foreach (var hab in habilidade)
        {
            <div>
                <label>Habilidade</label>
                <InputText @bind-Value="hab.Nome_Habilidade" />
            </div>
        }
        <button type="button" @onclick="AddHabilidade">Adicionar Habilidade</button>

        <h4>Cursos Extra</h4>
        @foreach (var curso in cursosExtra)
        {
            <div>
                <label>Nome do Curso:</label>
                <InputText @bind-Value="curso.Nome_Curso" />
            </div>
            <div>
                <label>Organização:</label>
                <InputText @bind-Value="curso.Organizacao" />
            </div>
        }
        <button type="button" @onclick="AddCursoExtra">Adicionar Curso Extra</button>

        <h4>Educação</h4>
        @foreach (var edu in educacao)
        {
            <div>
                <label>Instituição:</label>
                <InputText @bind-Value="edu.Instituicao" />
            </div>
            <div>
                <label>Curso:</label>
                <InputText @bind-Value="edu.Curso" />
            </div>
            <div>
                 <label>Ano de Conclusão:</label>
                <InputText @bind-Value="edu.AnoConclusao" /> 
            </div>
        }
        <button type="button" @onclick="AddEducacao">Adicionar Educação</button>

        <h4>Experiências</h4>
        @foreach (var exp in experiencias)
        {
            <div>
                <label>Nome da Organização:</label>
                <InputText @bind-Value="exp.Nome_Organizacao" />
            </div>
            <div>
                <label>Função:</label>
                <InputText @bind-Value="exp.Funcao" />
            </div>
            <div>
                <label>Descrição:</label>
                <InputText @bind-Value="exp.Descricao" />
            </div>
        }
        <button type="button" @onclick="AddExperiencia">Adicionar Experiência</button>
        <button type="button" @onclick="PreencherCamposComExemplo">Preencher</button>

        <button type="submit">Enviar</button>
    </EditForm>
</div> *@


@code {
    // private Contato contato = new();
    // private Inicio_Curriculum curriculumInicio = new();
    // private List<CursosExtraModel> cursosExtra = new();
    // private List<Habilidades> habilidade = new();
    // private List<EducacaoModel> educacao = new();
    // private List<Experiencia> experiencias = new();

    // private EditContext editContext;

    // protected override void OnInitialized()
    // {
    //     editContext = new EditContext(this);
    // }

    // private async Task SubmitForm()
    // {
    //     if (editContext.Validate())
    //     {
    //         var curriculo = new Curriculo_Completo
    //         {
    //             contato = contato,
    //             formacao = educacao,
    //             expProfissional = experiencias,
    //             header = curriculumInicio,
    //             habilidades = habilidade,
    //             cursos_Extra = cursosExtra
    //         };

    //         var curriculumbase64 = await _curriculumPdf.GetCurriculumPdf(curriculo);

    //         await Js.InvokeVoidAsync("downloadFileFromStream", "Curriculo.pdf", curriculumbase64);
    //     }
    // }

    // private void AddCursoExtra()
    // {
    //     cursosExtra.Add(new CursosExtraModel());
    // }

    // private void AddEducacao()
    // {
    //     educacao.Add(new EducacaoModel());
    // }

    // private void AddExperiencia()
    // {
    //     experiencias.Add(new Experiencia());
    // }

    // private void AddHabilidade()
    // {
    //     habilidade.Add(new Habilidades());
    // }


    // private void PreencherCamposComExemplo()
    // {
    //     cursosExtra.Add(new CursosExtraModel());
    //     educacao.Add(new EducacaoModel());
    //     experiencias.Add(new Experiencia());
    //     habilidade.Add(new Habilidades());

    //     curriculumInicio.Nome = "João Silva";
    //     curriculumInicio.PerfilProgramador = "Desenvolvedor .NET";
    //     curriculumInicio.SobreMim = "Desenvolvedor com experiência em projetos freelances, especializado em aplicações desktop com Windows Forms.";

    //     contato.Email = "joao.silva@example.com";
    //     contato.Codigo = "+55";
    //     contato.DDD = "92";
    //     contato.NumeroTelefone_Celular = "912345678";

    //     habilidade[0].Nome_Habilidade = "C#";
    //     cursosExtra[0].Nome_Curso = "Curso de Blazor";
    //     cursosExtra[0].Organizacao = "Online Academy";

    //     educacao[0].Instituicao = "Universidade Federal do Amazonas";
    //     educacao[0].Curso = "Ciência da Computação";
    //     educacao[0].AnoConclusao = "2022";

    //     experiencias[0].Nome_Organizacao = "Empresa XYZ";
    //     experiencias[0].Funcao = "Desenvolvedor Júnior";
    //     experiencias[0].Descricao = "Desenvolvimento de aplicações web utilizando .NET.";
    // }
}