@page "/"

<div id="resumo"></div>
<MudPaper Class="px-10 pb-20">
    <MudStack Spacing="2">
        <MudText Typo="Typo.h3" Align="Align.Start" Style="color: #B8860B; font-weight: bold;">
            PAULO <span style="color: #2F4F4F;">SÉRGIO</span>
        </MudText>
        <MudText Typo="Typo.subtitle1" Align="Align.Start" Style="color: #A9A9A9; font-weight: bold;">
            Desenvolvedor Back-End .NET
        </MudText>
    </MudStack>

    <MudDivider Class="my-4"/>

    <MudText Typo="Typo.body1" Align="Align.Left" Style="line-height: 1.0; text-align: justify; margin-right: 15%">
        Olá! Sou um programador especializado em desenvolvimento back-end utilizando <strong>.NET</strong> e
        <strong>C#</strong>. Sempre gostei muito de tecnologia no geral, o que me levou a iniciar minha jornada
        acadêmica em Análise e Desenvolvimento de Sistemas em 2018. Minha formação e experiência me tornaram um
        profissional pragmático, com uma abordagem prática e eficiente para resolver problemas e desenvolver soluções
        robustas.
        <br/><br/>
        Sou uma pessoa que se motiva com desafios e novas ideias. A possibilidade de explorar e implementar inovações
        tecnológicas me deixa extremamente empolgado. No entanto, compreendo que a excelência também reside na atenção
        aos detalhes e na execução de tarefas básicas e repetitivas com o mesmo nível de dedicação e cuidado.
        <br/><br/>
        Trabalhar em equipe é uma das minhas maiores paixões. Acredito que a colaboração é uma oportunidade valiosa para
        aprender e trocar experiências com diversas pessoas, o que enriquece não só o projeto em desenvolvimento, mas
        também o crescimento pessoal e profissional de todos os envolvidos.
        <br/><br/>
        Em termos de projetos, meu <a href="https://github.com/CsPauloNoob" target="_blank">GitHub</a> é um reflexo da
        minha diversidade de interesses e habilidades. Lá você encontrará desde APIs até aplicativos desktop. Embora meu
        repositório possa parecer um pouco desorganizado, ele contém exemplos claros do meu trabalho e da minha
        capacidade de desenvolver soluções variadas e resolver problemas.
        <br/><br/>
        Estou sempre aberto a novas oportunidades e desafios que me permitam crescer e contribuir com minha experiência
        e paixão pela tecnologia. Convido você a conferir meus projetos no GitHub e a me contatar para discutir como
        posso agregar valor à sua equipe ou projeto.
    </MudText>

    <MudContainer Class="d-flex justify-center my-4">
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/CsPauloNoob" Target="_blank"
                       Size="Size.Large"/>
        <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Href="https://www.linkedin.com/in/paulosergioo"
                       Target="_blank" Size="Size.Large" Style="color: #258cfb"/>
    </MudContainer>

    <MudDivider Class="my-4"/>

    <div id="conhecimento">
        <MudText Typo="Typo.h5" Align="Align.Start" Style="font-weight: bold;" HtmlTag="">
            CONHECIMENTO TÉCNICO
        </MudText>
    </div>
    <MudStack Spacing="1">
        <MudText Typo="Typo.h6" Style="font-weight: bold;">Linguagens e Frameworks</MudText>
        <MudList Dense="false" ReadOnly="true" T="string">
            <MudListItem>C#</MudListItem>
            <MudListItem>C++</MudListItem>
            <MudListItem>.NET/ASP.Net Core</MudListItem>
            <MudListItem>Entity Framework</MudListItem>
        </MudList>

        <MudText Typo="Typo.h6" Style="font-weight: bold;">Sistemas Operacionais</MudText>
        <MudList Dense="false" ReadOnly="true" T="string">
            <MudListItem>Windows</MudListItem>
            <MudListItem>Linux (Fedora, Debian e Ubuntu)</MudListItem>
        </MudList>

        <MudText Typo="Typo.h6" Style="font-weight: bold;">Banco de Dados</MudText>
        <MudList Dense="false" ReadOnly="true" T="string">
            <MudListItem>MySQL</MudListItem>
            <MudListItem>SQLite</MudListItem>
            <MudListItem>SQL Server</MudListItem>
        </MudList>

        <MudText Typo="Typo.h6" Style="font-weight: bold;">Idiomas</MudText>
        <MudList Dense="false" ReadOnly="true" T="string">
            <MudListItem>Inglês intermediário (escrita e conversação)</MudListItem>
            <MudListItem>Espanhol intermediário (escrita e conversação)</MudListItem>
        </MudList>
    </MudStack>

    <MudDivider Class="my-4"/>
    
    <div id="exp">
        <MudText Typo="Typo.h5" Align="Align.Start" Style="font-weight: bold; margin-bottom: 20px;">
            EXPERIÊNCIA
        </MudText>
    </div>
    <MudStack Spacing="10">
        <MudStack Spacing="4">
            <MudText Typo="Typo.h6" Style="font-weight: bold; margin-bottom: 4px;">
                Programador Desktop Freelancer
            </MudText>
            <MudText Typo="Typo.body1" Style="text-align: justify; line-height: 1.4;">
                Trabalhei como programador desktop desenvolvendo uma plataforma que automatizava o envio de vídeos para
                o YouTube. Esse projeto envolveu a interação com diversas APIs, incluindo a do YouTube para o upload dos
                vídeos, a do ChatGPT para a criação de roteiros, e a do Azure TTS para a geração de voiceovers.
                <br/><br/>
                Durante o desenvolvimento, utilizei .NET 6 e Windows Forms. Foi uma experiência desafiadora que me
                ensinou, muitas vezes da maneira mais difícil, a importância de um código bem organizado e os benefícios
                de refatorar regularmente. Essa prática não só melhora a qualidade do código, mas também facilita a
                manutenção e expansão futuras.
                <br/><br/>
                Esse projeto foi uma grande oportunidade de crescimento e aprendizado, e reforçou minha paixão por
                enfrentar desafios complexos e encontrar soluções eficientes.
            </MudText>
        </MudStack>

        <MudStack Spacing="10">
            <MudText Typo="Typo.h6" Style="font-weight: bold; margin-bottom: 4px;">
                Experiência no Desafio "May the 4th" do Balta.io
            </MudText>
            <MudText Typo="Typo.body1" Style="text-align: justify; line-height: 1.4;">
                Participei do desafio "May the 4th" organizado pelo Balta.io, onde trabalhei em equipe com uma estrutura
                próxima a de um ambiente profissional. Nossa equipe era composta por cinco membros: três desenvolvedores
                juniores, um desenvolvedor pleno e um líder sênior. Durante o desafio, dividimos o trabalho de forma
                colaborativa, fomos supervisionados e seguimos prazos rigorosos.
                <br/><br/>
                Essa experiência foi valiosa, pois nos ajudamos mutuamente, promovendo um ambiente de aprendizado
                contínuo. Também realizamos code reviews em conjunto, o que aprimorou a qualidade do nosso código e
                facilitou a troca de conhecimentos entre os membros da equipe.
            </MudText>
        </MudStack>
    </MudStack>

    <MudDivider Class="my-4"/>
    
    <div id="educ">
        <MudText Typo="Typo.h5" Align="Align.Start" Style="font-weight: bold; margin-bottom: 20px;">
            EDUCAÇÃO
        </MudText>
    </div>
    <MudStack Spacing="10">
        <MudStack Spacing="4">
            <MudText Typo="Typo.h6" Style="font-weight: bold; margin-bottom: 4px;">
                Tecnólogo em Análise e Desenvolvimento de Sistemas
            </MudText>
            <MudText Typo="Typo.body1" Style="line-height: 1.4;">
                UNIFAEL <strong>2018-2020</strong>
            </MudText>
        </MudStack>
    </MudStack>

    <MudDivider Class="my-4"/>
    
    <div id="cursos_extra">
        <MudText Typo="Typo.h5" Align="Align.Start" Style="font-weight: bold; margin-bottom: 20px;">
            CURSOS EXTRA
        </MudText>
    </div>
    <MudStack Spacing="10">
        <MudStack Spacing="4">
            <MudText Typo="Typo.h6" Style="font-weight: bold; margin-bottom: 4px;">
                ASP.NET Core: Aprendendo do zero ao avançado (v 1.1 e 2.0)
            </MudText>
            <MudText Typo="Typo.body1" Style="line-height: 1.4;">
                2020 - UDEMY
            </MudText>
        </MudStack>

        <MudStack Spacing="4">
            <MudText Typo="Typo.h6" Style="font-weight: bold; margin-bottom: 4px;">
                Microsoft Azure Infraestrutura - Curso Completo
            </MudText>
            <MudText Typo="Typo.body1" Style="line-height: 1.4;">
                2021 - UDEMY
            </MudText>
        </MudStack>

        <MudStack Spacing="4">
            <MudText Typo="Typo.h6" Style="font-weight: bold; margin-bottom: 4px;">
                C# Avançado
            </MudText>
            <MudText Typo="Typo.body1" Style="line-height: 1.4;">
                2020 - Fundação Bradesco
            </MudText>
        </MudStack>

        <MudStack Spacing="4">
            <MudText Typo="Typo.h6" Style="font-weight: bold; margin-bottom: 4px;">
                Fundamentos Blazor Server
            </MudText>
            <MudText Typo="Typo.body1" Style="line-height: 1.4;">
                2024 - Balta.io
            </MudText>
        </MudStack>
    </MudStack>


</MudPaper>

@code
{

}
