h1{
    margin-bottom: 0;
    font-size: 56px;
}

.principal {
    width: 80%;
    padding: 20px 10% 20px 0;
    overflow-y: auto;
    height: 100vh;
    color: grey;
    margin-left: 18%;
    margin-top: 52px;
    text-align: justify;
}

.titulo-nome{
    margin: 8% auto 4% auto;
}

#primeiro-nome{
    color: goldenrod;
}

.email
{
    font-size: 24px;
}

.lateral {
    width: 15%;
    height: 100vh; /* Altura total da viewport */
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* Fixa o menu lateral */
}

.secoes{
    display: flex;
    width: 100%;
    height: 33%;
    flex-direction: column;
    justify-content: center;
}

.principal h2{
    color: black;
}

.principal p{
    font-size: 18px;
}

.resumo{
    height: 70vh;
    border-bottom: 1px solid black;
}

.midias-sociais{
    margin-top: 5%;
}

.midias-sociais img{
    width: 40px;
    height: 40px;
}

.midias-sociais ul{
    list-style: none;
    padding-left: 0%;
}

.secoes ul{
    padding: 0;
    align-items: center;
    list-style: none;
}

.secoes ul li{
    display: block;
    width: 100%;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.secoes ul li a:hover {
    background-color: red;
}

.secoes ul li a{
    display: block;
    text-align: center;
}

.foto{
    height: 33%;
    justify-content: center;
}

.foto img
{
    width: 200px;
    height: 200px;

    border-radius: 50%;
}