
<div class="container" id="conhecimento">

    <h1>CONHECIMENTO TÉCNICO</h1>

    <h2>Linguagens e Frameworks</h2>

    <div class="coluna-skills">
        <p>&#x2714; C#</p>
        <p>&#x2714; C++</p>
        <p>&#x2714; .NET/ASP.Net Core</p>
        <p>&#x2714; Entity Framework</p>
    </div>

    <h2>Sistemas Operacionais</h2>

    <div class="coluna-skills">
        <p>&#x2714; Windows</p>
        <p>&#x2714; Linux (Fedora, Debian e Ubuntu)</p>
    </div>

    <h2>Banco de Dados</h2>

    <div class="coluna-skills">
        <p>&#x2714; MySQL</p>
        <p>&#x2714; SQLite</p>
        <p>&#x2714; SQLserver</p>
    </div>

    <h2>Idiomas</h2>

    <div class="coluna-skills">
        <p>Inglês intermediário (escrita e conversação)</p>
        <p>Espanhol Intermediário (escrita e conversação)</p>
    </div>
</div>

@code {
    [Parameter]
    public bool _paginaPaulo { get; set; }
}
