<div class="container" id="cursos_extra">
    <h1>
        CURSOS EXTRA
    </h1>
        <div class="cursos">

            <h2>
                ASP.NET Core: Aprendendo do zero ao avançado (v 1.1 e 2.0)
            </h2>

            <div class="org">
                2020 - UDEMY
            </div>

            <h2>
                Microsoft Azure Infraestrutura - Curso Completo
            </h2>

            <div class="org">
                2021 - UDEMY
            </div>

            <h2>
                C# Avançado
            </h2>

            <div class="org">
                2020 - Fundação Bradesco
            </div>

            <h2>
                Fundamentos Blazor Server
            </h2>

            <div class="org">
                2024 - Balta.io
            </div>

        </div>
</div>