<div class="container" id="educ">

    <h1>
        EDUCAÇÃO
    </h1>
        <div class="formacoes">

            <h2>
                Tecnológo em Análise e Desenvolvimento de Sistemas
            </h2>

            <div class="descricao">
                UNIFAEL <strong>2018-2020</strong>
            </div>

        </div>

</div>