<div class="container">

    <h1>
        EDUCAÇÃO
    </h1>

    @if(_paginaPaulo)
    {

        
        <div class="formacoes">

            <h2>
                Tecnológo em Análise e Desenvolvimento de Sistemas
            </h2>

            <div class="descricao">
                UNIFAEL <strong>2018-2020</strong>
            </div>

        </div>
    }

    else
    {
        @foreach (var item in _educacao)
        {
            <h2>
                @item.Curso
            </h2>

            <div class="descricao">
                @item.Instituicao - @item.AnoConclusao
            </div>
        }
    }

</div>

@code{

    [Parameter]
    public bool _paginaPaulo {get; set;}

    [Parameter]
    public List<EducacaoModel> _educacao {get; set;} = new();
}