
<div class="foto">
    <img src="https://tm.ibxk.com.br/2017/06/22/22100428046161.jpg">
</div>
<div class="secoes">
    <ul class="secoes">
        <li>
            <a href="#resumo"><strong>SOBRE</strong></a>
        </li>
        <li>
            <a href="https://www.google.com"><strong>EXPERIÊNCIA</strong></a>
        </li>
        <li>
            <a href="https://www.google.com"><strong>EDUCAÇÃO</strong></a>
        </li>
        <li>
            <a href="https://www.google.com"><strong>Cursos Extra</strong></a>
        </li>
    </ul>
</div>
<div class="rodape">
    <a href="https://google.com">buy me a coffe</a>
</div>