
<div class="foto">
    <img src="https://i.imgur.com/nSHtdWs.jpeg" alt="Alternate Text" />
</div>
<div class="secoes">
    <ul class="secoes">
        <li>
            <a href="#resumo"><strong>SOBRE</strong></a>
        </li>
        <li>
            <a href="#conhecimento"><strong>CONHECIMENTO TÉC.</strong></a>
        </li>
        <li>
            <a href="#exp"><strong>EXPERIÊNCIA</strong></a>
        </li>
        <li>
            <a href="#educ"><strong>EDUCAÇÃO</strong></a>
        </li>
        <li>
            <a href="#cursos_extra"><strong>Cursos Extra</strong></a>
        </li>
    </ul>
</div>
<div class="rodape">
    <a href="https://google.com">Github</a>
</div>