<div class="foto">
    <img src="https://tm.ibxk.com.br/2017/06/22/22100428046161.jpg">
</div>
<div class="secoes">
    <ul class="secoes">
        <li>
            <a href="https://www.google.com">HOME</a>
        </li>
        <li>
            <a href="https://www.google.com">EXPERIÊNCIA</a>
        </li>
        <li>
            <a href="https://www.google.com">SKILLS</a>
        </li>
    </ul>
</div>
<div class="rodape">
    <a href="https://google.com">buy me a coffe</a>
</div>