

.midias-sociais {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

    .midias-sociais img {
        width: 40px;
        height: 40px;
    }

    .midias-sociais ul {
        list-style: none;
        padding-left: 0%;
        display: flex;
    }

    .midias-sociais li {
        margin: 0 25px 0 25px;
    }
