<div class="midias-sociais">
    <ul>
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/paulosergioo">
                <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/CsPauloNoob">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github">
            </a>
        </li>
    </ul>
</div>