<section class="lateral">
    <Menu_lateral></Menu_lateral>
</section>


<section class="principal">

    <div class="titulo-nome">
        <TituloPrincipal></TituloPrincipal>
    </div>

    <div class="resumo">
        <SobreMim></SobreMim>
        <Midias_Sociais></Midias_Sociais>
    </div>

    <div class="experiencia">
        <Experience> </Experience>
    </div>

    <div class="educacao">

        <Educacao></Educacao>

    </div>
</section>


@code{
    
}