<section class="lateral">
    <Menu_lateral></Menu_lateral>
</section>


<section class="principal">

    <div class="titulo-nome">
        <TituloPrincipal></TituloPrincipal>
    </div>

    <div class="resumo">
        <SobreMim _paginaPaulo="true"></SobreMim>
        <Midias_Sociais></Midias_Sociais>
    </div>

    <div class="experiencia">
        <Experience _paginaPaulo = "true"> </Experience>
    </div>

    <div class="educacao">
        <Educacao _paginaPaulo="true"></Educacao>
    </div>

    <div class="curso">
        <CursosExtra _paginaPaulo="true"></CursosExtra>
    </div>
</section>

@code{
    
}