.principal {
    width: 100%;
    padding: 20px 5%; /* Ajustando padding para telas menores */
    height: 100%;
    color: #2C3E50;
    margin-left: 0; /* Removendo margin para telas menores */
    margin-top: 52px;
    text-align: justify;
}

.lateral {
    width: 100%; /* Fazendo o menu lateral ocupar 100% da largura em telas pequenas */
    height: auto; /* Ajustando altura automaticamente */
    background-color: #6c757d;
    display: flex;
    flex-direction: row; /* Alterando para row em telas pequenas */
    align-items: center;
    justify-content: center;
    position: relative; /* Mudando para relativo em telas pequenas */
    top: 0;
    left: 0;
}

.secoes {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.secoes ul li {
    display: block;
    width: 100%;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centralizando texto em telas pequenas */
}

.secoes ul li a {
    display: block;
    text-align: center;
}

/* Media queries para telas maiores */
@media (min-width: 768px) {
    .principal {
        padding: 20px 20% 0 20px;
        margin-left: 16%;
    }

    .lateral {
        width: 16%;
        height: 100%;
        flex-direction: column;
        position: fixed;
    }
}
