<section class="lateral">
        <div class="foto">
            <img src="https://tm.ibxk.com.br/2017/06/22/22100428046161.jpg">
        </div>
        <div class="secoes">
            <ul class="secoes">
                <li>
                    <a href="https://www.google.com">HOME</a>
                </li>
                <li>
                    <a href="https://www.google.com">EXPERIÊNCIA</a>
                </li>
                <li>
                    <a href="https://www.google.com">SKILLS</a>
                </li>
            </ul>
        </div>
        <div class="rodape">
            <a href="https://google.com">buy me a coffe</a>
        </div>
</section>


<section class="principal">

    <div class="titulo-nome">
        <h1>
            <span id="primeiro-nome">PAULO</span>
            SÉRGIO
        </h1>

        <span class="email">
            <strong>Email:</strong>
        </span>

        <a target="_blank" href="mailto:ps616131@gmail.com" class="email">
            PS616131@GMAIL.COM
        </a>
    </div>

    <div class="resumo">
        <h2>Sobre mim</h2>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi tempora vero velit quisquam quia alias quam corrupti ad veritatis fugit distinctio, voluptas a eveniet ut quis non, perspiciatis, illo iusto?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit odit fugiat esse temporibus cupiditate aperiam repellendus dolore eligendi aspernatur, illum optio corrupti blanditiis. Architecto fuga enim quam harum, aperiam ipsam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa repudiandae ipsam aperiam itaque aliquam omnis ipsum officiis cupiditate. Hic sunt eveniet tempora quae molestias laudantium voluptates maiores autem velit explicabo?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae recusandae sunt at! Recusandae, distinctio doloribus. Commodi fugiat accusamus rem quos quibusdam eligendi non tempore repudiandae ad. Sequi ullam officia velit.</p>

        <div class="midias-sociais">
            <ul>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/paulosergioo">
                        <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/CsPauloNoob">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="experiencia">

        <Experience> </Experience>

    </div>

    <div class="educacao">

        <Educacao></Educacao>

    </div>
</section>


@code{
    
}