@* <section class="lateral">
    <nav>
        <ul>
            <li><a href="#resumo">Resumo</a></li>
            <li><a href="#conhecimento">Conhecimento Técnico</a></li>
            <li><a href="#exp">Experiência</a></li>
            <li><a href="#educ">Educação</a></li>
            <li><a href="#cursos_extra">Cursos Extra</a></li>
        </ul>
    </nav>
</section>
 *@




<section class="principal" id="resumo">
    <h1 id="primeiro-nome">
        <span >PAULO</span> SÉRGIO
    </h1>
    <span class="subtitulo"> <b><i>Desenvolvedor Back-End .NET</i></b></span>
    <div class="container">
        <h2>Sobre mim</h2>
        <p>Olá! Sou um programador especializado em desenvolvimento back-end utilizando <strong>.NET</strong> e <strong>C#</strong>. Sempre gostei muito de tecnologia no geral, o que me levou a iniciar minha jornada acadêmica em Análise e Desenvolvimento de Sistemas em 2018. Minha formação e experiência me tornaram um profissional pragmático, com uma abordagem prática e eficiente para resolver problemas e desenvolver soluções robustas.</p>
        <p>Sou uma pessoa que se motiva com desafios e novas ideias. A possibilidade de explorar e implementar inovações tecnológicas me deixa extremamente empolgado. No entanto, compreendo que a excelência também reside na atenção aos detalhes e na execução de tarefas básicas e repetitivas com o mesmo nível de dedicação e cuidado.</p>
        <p>Trabalhar em equipe é uma das minhas maiores paixões. Acredito que a colaboração é uma oportunidade valiosa para aprender e trocar experiências com diversas pessoas, o que enriquece não só o projeto em desenvolvimento, mas também o crescimento pessoal e profissional de todos os envolvidos.</p>
        <p>Em termos de projetos, meu <a href="https://github.com/CsPauloNoob">GitHub</a> é um reflexo da minha diversidade de interesses e habilidades. Lá você encontrará desde APIs até aplicativos desktop. Embora meu repositório possa parecer um pouco desorganizado, ele contém exemplos claros do meu trabalho e da minha capacidade de desenvolver soluções variadas e resolver problemas.</p>
        <p>Estou sempre aberto a novas oportunidades e desafios que me permitam crescer e contribuir com minha experiência e paixão pela tecnologia. Convido você a conferir meus projetos no GitHub e a me contatar para discutir como posso agregar valor à sua equipe ou projeto.</p>
    </div>
    <div class="midias-sociais">
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/paulosergioo"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn"></a></li>
            <li><a target="_blank" href="https://github.com/CsPauloNoob"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github"></a></li>
        </ul>
    </div>
</section>

<section class="container" id="conhecimento">
    <h1>CONHECIMENTO TÉCNICO</h1>
    <h2>Linguagens e Frameworks</h2>
    <div class="coluna-skills">
        <p>&#x2714; C#</p>
        <p>&#x2714; C++</p>
        <p>&#x2714; .NET/ASP.Net Core</p>
        <p>&#x2714; Entity Framework</p>
    </div>
    <h2>Sistemas Operacionais</h2>
    <div class="coluna-skills">
        <p>&#x2714; Windows</p>
        <p>&#x2714; Linux (Fedora, Debian e Ubuntu)</p>
    </div>
    <h2>Banco de Dados</h2>
    <div class="coluna-skills">
        <p>&#x2714; MySQL</p>
        <p>&#x2714; SQLite</p>
        <p>&#x2714; SQLserver</p>
    </div>
    <h2>Idiomas</h2>
    <div class="coluna-skills">
        <p>Inglês intermediário (escrita e conversação)</p>
        <p>Espanhol Intermediário (escrita e conversação)</p>
    </div>
</section>

<section class="container" id="exp">
    <h1>EXPERIÊNCIA</h1>
    <div class="experiencias">
        <h2>Programador Desktop Freelancer</h2>
        <div class="descricao">
            Trabalhei como programador desktop desenvolvendo uma plataforma que automatizava o envio de vídeos para o YouTube. Esse projeto envolveu a interação com diversas APIs, incluindo a do YouTube para o upload dos vídeos, a do ChatGPT para a criação de roteiros, e a do Azure TTS para a geração de voiceovers.
            Durante o desenvolvimento, utilizei .NET 6 e Windows Forms. Foi uma experiência desafiadora que me ensinou, muitas vezes da maneira mais difícil, a importância de um código bem organizado e os benefícios de refatorar regularmente. Essa prática não só melhora a qualidade do código, mas também facilita a manutenção e expansão futuras.
            Esse projeto foi uma grande oportunidade de crescimento e aprendizado, e reforçou minha paixão por enfrentar desafios complexos e encontrar soluções eficientes.
        </div>
        <h2>Experiência no Desafio "May the 4th" do Balta.io</h2>
        <div class="descricao">
            Participei do desafio "May the 4th" organizado pelo Balta.io, onde trabalhei em equipe com uma estrutura próxima a de um ambiente profissional. Nossa equipe era composta por cinco membros: três desenvolvedores juniores, um desenvolvedor pleno e um líder sênior. Durante o desafio, dividimos o trabalho de forma colaborativa, fomos supervisionados e seguimos prazos rigorosos.
            Essa experiência foi valiosa, pois nos ajudamos mutuamente, promovendo um ambiente de aprendizado contínuo. Também realizamos code reviews em conjunto, o que aprimorou a qualidade do nosso código e facilitou a troca de conhecimentos entre os membros da equipe.
        </div>
    </div>
</section>

<section class="container" id="educ">
    <h1>EDUCAÇÃO</h1>
    <div class="formacoes">
        <h2>Tecnológo em Análise e Desenvolvimento de Sistemas</h2>
        <div class="descricao">UNIFAEL <strong>2018-2020</strong></div>
    </div>
</section>

<section class="container" id="cursos_extra">
    <h1>CURSOS EXTRA</h1>
    <div class="cursos">
        <h2>ASP.NET Core: Aprendendo do zero ao avançado (v 1.1 e 2.0)</h2>
        <div class="org">2020 - UDEMY</div>
        <h2>Microsoft Azure Infraestrutura - Curso Completo</h2>
        <div class="org">2021 - UDEMY</div>
        <h2>C# Avançado</h2>
        <div class="org">2020 - Fundação Bradesco</div>
        <h2>Fundamentos Blazor Server</h2>
        <div class="org">2024 - Balta.io</div>
    </div>
</section>
