
    <div class="principal" id="resumo">
        <h1>
            <span id="primeiro-nome">PAULO</span>
            SÉRGIO
        </h1>

        <span class="subtitulo">
            <i>Desenvolvedor Back-End .NET</i>
        </span>
    </div>