<div class="principal">
    <h1>
        <span id="primeiro-nome">PAULO</span>
        SÉRGIO
    </h1>

    <span class="email">
        <strong>Email:</strong>
    </span>

    <a target="_blank" href="mailto:ps616131@gmail.com" class="email">
        PS616131@GMAIL.COM
    </a>
</div>